<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<div class="w-100 text-center py-5">
    <img src="" alt="">
    <h1>Tivemos problemas!</h1>
    <h3>Volte para a página inicial e tente novamente mais tarde...</h3>
    <a href="/adm" class="btn btn-primary">
        Voltar
    </a>
</div>

</html>