<h2>Excluir cliente</h2>

<div>
    <hr />
    <%- include("../../../partial/dados-cliente.ejs") %>


        <form action="/inativarUsuario?id=<%=cliente.id_usuario %>" method="post">

            <div class="form-actions no-color">
                <h3>Confirma a exclusão?</h3>

                <input type="submit" value="Excluir" class="btn btn-danger btn-lg" /> |
                <a class="btn btn-primary " href="/adm-cliente" role="button">voltar</a>

            </div>
        </form>
</div>