<h2>Alterar dados do cliente</h2>
<form action="/editarUsuario?id=<%= cliente.d_usuario %>" method="post">

    <%- include("../../../partial/form-dados-cliente.ejs") %>

</form>

<div>
    <a class="btn btn-primary btn-lg" href="/adm-cliente" role="button">voltar</a>

</div>